body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


#button {
    color: #e5e7eb;
    background-color: #3882f6;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
}

.first, .footer {
    background-color: #1F2937;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.hl {
    color: white;
    display: flex;
    flex-direction: row;
}
#logo {
    font-size: 20px;
    font-weight: 900;
}

.first, .second, .third, .fourth, .footer {
    padding-left: 250px;
    padding-right: 250px;
}

.hl {
    justify-content:space-between;
}

.himage {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
}

.awesome {
    display: flex;
    flex-direction: column;
    color: white;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
}

#generic {
    font-size: 18px;
    color: #e5e7eb;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.images {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}

.m1, .m2, .m3, .m4 {
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
    padding: 10px;
}

.third {
    background-color: #e5e7eb;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    color: white;
    border-color: #3882f6;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    color: white;
    text-align: center;
    font-weight: 500;
}
